@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #272727;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-blue: #3B6EFF;
  --color-main-red: #FE5050;
  --font-sans: var(--font-pretendard), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), sans-serif;
}
